<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market dashboard</title>
    <style>
    td:not(:first-child):not(:last-child) {
      text-align: right;
    }

    td:first-child {
      text-align: center;
    }

    td:first-child, td:nth-child(2), td:nth-child(3) {
      width: 10%;
    }
    
    td:nth-child(2), td:nth-child(3) {
      padding: 1rem;
    }
    </style>
  </head>
  <body>
    <h1>Market Dashboard</h1>
    {% for category in results["categories"] %}
    <h2>{{ category }}</h2>
    <table border="1" style="width: 100%;">
      <thead>
        <tr>
          <th>Market</th>
          <th>Current price</th>
          <th>Change (%)</th>
          <th>Headlines</th>
        </tr>
      </thead>
      <tbody>
        {% for item in results[category] %}
        <tr>
          <td>{{ item["name"] }}</td>
          <td>{{ item["current_price"] | round(2) }}</td>
          <td>{{ item["change_percentage"] | round(2) }}</td>
          <td>
            <ul>
              {% for headline in item["headlines"] %}
              <li><a href="{{ headline['content']['canonicalUrl']['url'] }}" target="__blank">{{ headline["content"]["title"] }} ({{ headline["content"]["pubDate"] }})</a></li>
              {% endfor %}
            </ul>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  </body>
</html>
